.btn-cus {
    background: #41516f !important;
    color: #ffffff !important;
    font-size: 18pt !important;
    font-weight: 500 !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    width: 350px;
}

.control-label {
    margin-top: 7px;
}

.inputRequired {
    background-color: aliceblue !important;
}

.Content .detail table.t9 th {
    white-space: nowrap;
}

.Content .detail table.t9 tr td:nth-child(1) {
    text-align: left;
}

.Content .detail table.t9 tr td:nth-child(2) {
    text-align: center;
}

.Content .detail table.t9 tr:nth-child(odd) td {
    background-color: #e1e0e0 !important;
}

.Content .detail table.t9 tr:nth-child(even) td {
    background-color: #FFF !important;
}

.col-half-offset {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 5px !important;
}

table tr td {
    border: 0 !important;
    background-color: #fff !important;
}

table.phone-main-layer tr:nth-child(odd) table tr td {
    background-color: #e1e0e0 !important;
}

table.phone-main-layer tr:nth-child(even) table tr td {
    background-color: #ffffff !important;
}

table.phone-main-layer table tr td {
    padding: 3px;
    vertical-align: top;
}

table.phone-main-layer table tr td:nth-child(1) {
    font-weight: 600;
    white-space: nowrap;
    padding-right: 10px;
}


/*-----*/

.Content .phone-detail table.t9 th {
    white-space: nowrap;
    border: none !important;
}

.Content .phone-detail table.t9 tr td {
    font-size: 10pt;
    text-align: center;
    color: #000;
    font-weight: 500;
    border: none !important;
}

.Content .phone-detail table.t9 tr td:nth-child(4),
.Content .phone-detail table.t9 tr td:nth-child(5) {
    white-space: nowrap;
}

.Content .phone-detail table.t9 tr td:nth-child(1),
.Content .phone-detail table.t9 tr td:nth-child(6),
.Content .phone-detail table.t9 tr td:nth-child(7) {
    text-align: left;
}

.Content .phone-detail table.t9 tr:nth-child(odd) td {
    background-color: #e1e0e0 !important;
    color: #52525B;
}

.Content .phone-detail table.t9 tr:nth-child(even) td {
    background-color: #FFF !important;
    color: #52525B;
}

input[type=radio] {
    -webkit-appearance: radio;
}

input[type=checkbox] {
    -webkit-appearance: checkbox;
}

.form-radio .row .col-md-10 input[type=text] {
    display: inline;
    width: 20%;
}

.form-radio .row .col-md-9 input[type=text] {
    display: inline;
    width: 30%;
}