.Content .detail table.textcenter tr>td {
    font-size: 24pt;
    font-weight: 500;
    color: #52525B !important;
    background: #FFF !important;
    padding: 20px;
    text-align: center;
}

.Content .detail table tr td span {
    font-size: 18pt;
    font-weight: 500;
    color: ＃52525b;
    text-align: center;
}

.arrow{
    margin-left: -30px;
	padding: 0 0 0 30px;
	list-style: none;
	background-image: url("../../images/arrow.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 18pt;
 }

 .sideBar ul ul>li>a {
    font-size: 16pt;
}