
.btn-cus{
	background: #41516f !important;
    color: #ffffff !important;
    font-size: 18pt !important;
    font-weight: 500 !important;
	padding-left:50px !important;
	padding-right:50px !important;
	width: 350px;
}

.inputRequired {
    background-color: aliceblue !important;
}

.Content .detail table.t9 th {
	white-space: nowrap;
}

.Content .detail table.t9 tr td {
	font-size: 18pt;
	text-align: center;
	color: #000;
	font-weight: 500;
}

.Content .detail table.t9 tr td:nth-child(4),
.Content .detail table.t9 tr td:nth-child(5) {
	white-space: nowrap;
}

.Content .detail table.t9 tr td:nth-child(1),
.Content .detail table.t9 tr td:nth-child(6),
.Content .detail table.t9 tr td:nth-child(7) {
	text-align: left;
}

.Content .detail table.t9 tr:nth-child(odd) td {
	background-color: #e1e0e0 !important;
}

.Content .detail table.t9 tr:nth-child(even) td {
	background-color: #FFF !important;
}