.Content .detail table.t8 {
    background: #FFF !important;
    padding: 20px;
}

.Content .detail table.t8 tr td {
    padding: 0px;
    padding-bottom: 5px;
}

.Content .detail table.t8 tr:nth-child(1)>td {
    font-size: 24pt;
    font-weight: bolder;
    color: #ff7200 !important;
}

.Content .detail table.t8 tr:nth-child(2)>td {
    font-size: 24pt;
    font-weight: bolder;
    color: #32325d !important;
}

.Content .detail table.t8 tr:nth-child(3)>td {
    font-size: 18pt;
    font-weight: 500;
    color: #808a9e !important;
    padding-bottom: 20px;
}

.Content .detail table.t8 tr:nth-child(4)>td {
    font-size: 18pt;
    font-weight: 500;
    color: #52525b !important;
}

.Content .detail table.textcenter tr>td {
    font-size: 24pt;
    font-weight: 500;
    color: #52525B !important;
    background: #FFF !important;
    padding: 20px;
    text-align: center;
}

.Content .detail table tr td span {
    font-size: 18pt;
    font-weight: 500;
    color: ＃52525b;
    text-align: center;
}

.circle-img {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.circle-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner81-item {
    padding-top: 50px;
    padding-bottom: 50px;
}

.banner81-item .title {
    font-size: 24px;
    color: #32325d;
    text-align: center;
}

.banner81-item table {
    border-collapse: separate;
    border-spacing: 0 15px;
}

.banner81-item table tr td {
    padding: 0;
    margin: 0;
    line-height: 0;
    font-size: 18px !important;
}

.banner81-item table tr td:nth-child(1) {
    width: fit-content;
    background-color: #e1e0e0 !important;
}

.banner81-item table tr td:nth-child(2) {
    background-color: #fff !important;
    border: 2px solid #e1e0e0;
}