.Content .detail table.textcenter tr>td {
    font-size: 24pt;
    font-weight: 500;
    color: #52525B !important;
    background: #FFF !important;
    padding: 20px;
    text-align: center;
}

.Content .detail table.textcenter tr>td:nth-child(2) {
    text-align: left;
}

.Content .detail table tr td span {
    font-size: 18pt;
    font-weight: 500;
    color: ＃52525b;
    text-align: center;
}

.Content .detail ul li a:hover {
    color: #ff7200;
}

.arrow {
    margin-left: -30px;
    padding: 0 0 0 30px;
    list-style: none;
    background-image: url("../../images/arrow.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 18pt;
}

.sideBar ul ul>li>a {
    font-size: 16pt;
}

.nowrap {
    white-space: nowrap;
}

.t43,
.t46 {
    width: 100%;
}

table.t43 tr td,
table.t46 tr td {
    border: 1px solid #e1e0e0;
    padding: 10px;
}

table.t43 tr td:nth-child(1),
table.t46 tr td:nth-child(1) {
    font-weight: 700;
    color: #32325d;
    background-color: #e1e0e0;
    white-space: nowrap;
    padding-right: 10px;
    text-align: center;
}

.table-discribe {
    border: 1px solid #e1e0e0;
    padding: 5px;
}