.Content .detail .my-5{
    margin-top: 0 !important;
    margin-bottom: 16px !important;
}

.FormBlock label {
    font-size: 18pt;
    font-weight: 500;
    color: #52525b;
    text-decoration: none;
}

.Content .checkbox {
    margin-right: 20px;
    margin-left: 10px;
}

.Content .title span{
    font-size: 14pt;
    font-weight: 500;
    color: #ff7200;
}

.Content  label span {
    font-size: 10pt;
    font-weight: 500;
    color: #ff7200;
}

.FormBlock label span.tips {
    font-size: 12pt;
    color: #52525b;
}

.Content input[type=submit] {
    background: #41516f;
    color: #ffffff;
    font-size: 18pt;
    font-weight: 500;
}

.Content input[type=checkbox] {
    -webkit-appearance: checkbox;
}