/* SideBar */

.sideBar {
    height: 850px;
    padding-right: 0 !important;
    padding-left: 0 !important;
    font-family: 微軟正黑體;
    flex: 0 0 12.716763%;
    max-width: 12.716763%;
}

.sideBar .container {
    padding-top: 100px !important;
}

.sideBar .title.my-2 {
    margin-top: 0 !important;
    margin-bottom: 25px !important;
}

.sideBar .my-2 .my-2 {
    margin-top: 0 !important;
    margin-bottom: 16px !important;
}

.sideBar>.container {
    padding-top: 3rem;
    width: max-content;
}

.Content {
    font-family: 微軟正黑體;
}

.Content.Content-padding {
    padding-left: 50px !important;
    padding-right: 100px !important;
    flex: 0 0 87.283237%;
    max-width: 87.283237%;
}

.sideBar .title,
.Content .Name {
    font-size: 14pt;
    font-weight: bold;
    color: #32325d;
}

.Content .phone-Name {
    font-size: 14pt;
    font-weight: 700;
    color: #32325d;
}

.col-9,
.col-xl-9 {
    margin-left: 60px;
}

.sideBar ul {
    list-style: none;
    padding-left: 3px;
}

.sideBar ul>li,
.sideBar ul>li>a,
.Content label {
    font-size: 12pt;
    font-weight: 500;
    color: #52525b;
    text-decoration: none;
}

.sideBar ul>li>a.active,
.sideBar ul>li>a:hover {
    color: #ff7200;
}


/* //SideBar */

.Content .title,
.locate .title {
    font-size: 17pt;
    font-weight: 700;
    color: #808a9e;
    margin-bottom: 25px;
}

.Content .phone-title,
.locate .phone-title {
    font-size: 17pt;
    font-weight: 700;
    color: #808a9e;
    border-bottom: 3px solid #e1e0e0;
}

.Content .title span {
    font-size: 17pt;
    font-weight: 500;
    color: #ff7200;
}

.Content .phone-title span {
    font-size: 12pt;
    font-weight: 500;
    color: #ff7200;
}

.Content label span {
    font-size: 17pt;
    font-weight: 500;
    color: #ff7200;
}

.Content input[type=submit] {
    background: #41516f;
    color: #ffffff;
    font-size: 17pt;
    font-weight: 500;
}

.Content .detail {
    font-size: 12pt;
    font-weight: 500;
    color: #52525b;
    margin-bottom: 50px;
}

.Content .detail p {
    font-size: 12pt;
    font-weight: 500;
    color: #52525b;
}

.Content .detail p:not(:last-child) {
    margin-bottom: 16px;
}

.Content .phone-detail {
    font-size: 10pt;
    font-weight: 300;
    color: #52525b;
}

.Content .detail table {
    width: 100%;
    border-color: #e1e0e0;
}

.Content .detail table tr th {
    background-color: #e1e0e0;
    font-size: 14pt;
    font-weight: 700;
    color: #32325d;
    padding: 20px;
    text-align: center;
    height: 50px;
}

.Content .detail table tr td {
    font-size: 12pt;
    font-weight: 500;
    color: #52525b;
    padding: 15px;
    padding-left: 25px;
    line-height: 24pt;
}

.Content .detail table tr td span {
    font-size: 10pt;
    font-weight: 300;
    color: #52525b;
    text-align: center;
}

.td-icon {
    margin-right: 10px;
}

.normal-table tr td {
    border: 1px solid #e1e0e0 !important;
    background-color: #ffffff !important;
}

.normal-table tr th {
    border: 1px solid #e1e0e0 !important;
    background-color: #e1e0e0!important;
}

.phone-normal-table tr td {
    border: 1px solid #e1e0e0 !important;
    background-color: #ffffff !important;
    padding: 5px;
}

.phone-normal-table tr th {
    border: 1px solid #e1e0e0 !important;
    background-color: #e1e0e0!important;
    font-size: 14pt;
    font-weight: 700;
    color: #32325d;
    padding: 10px;
    text-align: center;
}

.cjk-list li {
    list-style-type: cjk-ideographic;
    margin-left: 60px;
}

.phone-cjk-list li {
    list-style-type: cjk-ideographic;
    margin-left: 30px;
}

.decimal-list li {
    list-style-type: decimal;
    margin-left: 60px;
}

.phone-decimal-list li {
    list-style-type: decimal;
    margin-left: 16px;
}

.square-list li {
    list-style-type: square;
    margin-left: 60px;
}

.cjk-list li {
    list-style-type: cjk-ideographic;
    margin-left: 60px;
}

.phone-cjk-list li:not(:last-child){
    margin-bottom: 16px;
}

.decimal-list li:not(:last-child){
    list-style-type: decimal;
    margin-bottom: 16px;
}

.phone-decimal-list li:not(:last-child){
    list-style-type: decimal;
    margin-bottom: 16px;
}

.square-list li:not(:last-child){
    list-style-type: square;
    margin-bottom: 16px;
}

.phone-square-list li:not(:last-child){
    list-style-type: square;
    margin-left: 30px;
}