    .Content .detail table.t52 tr>td:nth-child(odd) {
        font-size: 24pt;
        font-weight: 500;
        color: #52525B !important;
        background: #FFF !important;
        padding: 20px;
        text-align: center;
    }
    
    .Content .detail table.t53 tr {
        border-bottom: 1px solid #e1e0e0;
    }
    
    .Content .detail table.t53 tr>td:nth-child(even) {
        font-size: 24pt;
        font-weight: 500;
        background: #FFF !important;
        padding: 20px;
        text-align: center;
    }
    
    table.t53 tr td a {
        font-size: 18pt;
        color: #000;
    }
    
    table.t53 tr td a:hover {
        color: #ff7200;
    }
    
    .Content .detail table.textcenter tr>td {
        font-size: 24pt;
        font-weight: 500;
        color: #52525B !important;
        background: #FFF !important;
        padding: 20px;
        text-align: center;
    }
    
    .Content .detail table tr td span {
        font-size: 18pt;
        font-weight: 500;
        color: ＃52525b;
        text-align: center;
    }
    
    li.my-2 a img {
        display: inline-block;
        position: absolute;
        left: 40pt;
        height: 30pt;
    }
    
    .sideBar ul li ul>li>a {
        font-size: 16pt;
    }