.Content .detail table.t9 th {
    white-space: nowrap;
}

.Content .detail table.t9 tr td:nth-child(4),
.Content .detail table.t9 tr td:nth-child(5) {
    white-space: nowrap;
}

.Content .detail table.t9 tr td:nth-child(1),
.Content .detail table.t9 tr td:nth-child(6),
.Content .detail table.t9 tr td:nth-child(7) {
    text-align: left;
}

.Content .detail table.t9 tr:nth-child(odd) td {
    background-color: #e1e0e0 !important;
}

.Content .detail table.t9 tr:nth-child(even) td {
    background-color: #FFF !important;
}

.col-half-offset {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 5px !important;
}

table tr td {
    border: 0 !important;
    background-color: #fff !important;
}

table.phone-main-layer tr:nth-child(odd) table tr td {
    background-color: #e1e0e0 !important;
}

table.phone-main-layer tr:nth-child(even) table tr td {
    background-color: #ffffff !important;
}

table.phone-main-layer table tr td {
    padding: 3px;
    vertical-align: top;
}

table.phone-main-layer table tr td:nth-child(1) {
    font-weight: 600;
    white-space: nowrap;
    padding-right: 10px;
}

.page-item .page-link {
    z-index: 3;
    color: #52525b !important;
    background-color: #fff !important;
    border-color: #e1e0e0 !important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #52525b !important;
    background-color: #e1e0e0 !important;
    border-color: #e1e0e0 !important;
}

.img-swiper {
    align-items: center;
}

.img-swiper img {
    cursor: pointer;
}

.lg-img-block {
    max-width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}

.lg-img-view {
    max-width: 100%;
    max-height: 500px;
    margin: auto;
}

.phone-detail .col-1 {
    padding: 0px;
}

.phone-detail .col-1 img {
    width: 90%;
}

.phone-img-swiper {
    align-items: center;
}

.phone-img-swiper img {
    cursor: pointer;
}

.phone-lg-img-block {
    max-width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}

.phone-lg-img-view {
    max-width: 100%;
    max-height: 200px;
    margin: auto;
}