    .Content .detail table.t52 tr>td:nth-child(odd) {
        font-size: 24pt;
        font-weight: 500;
        color: #52525B !important;
        background: #FFF !important;
        padding: 20px;
        text-align: center;
    }
    
    .Content .detail table.t53 tr {
        border-bottom: 1px solid #e1e0e0;
    }
    
    .Content .detail table.t53 tr>td:nth-child(even) {
        font-size: 24pt;
        font-weight: 500;
        background: #FFF !important;
        padding: 20px;
        text-align: center;
    }
    
    table.t53 tr td a {
        font-size: 18pt;
        color: #000;
    }
    
    table.t53 tr td a:hover {
        color: #ff7200;
    }
    
    .Content .detail table.textcenter tr>td {
        font-size: 24pt;
        font-weight: 500;
        color: #52525B !important;
        background: #FFF !important;
        padding: 20px;
        text-align: center;
    }
    
    .Content .detail table tr td span {
        font-size: 18pt;
        font-weight: 500;
        color: ＃52525b;
        text-align: center;
    }
    
    .map iframe {
        border: none;
        width: 100%;
        min-height: 400px;
        display: block;
        -webkit-filter: var(--iframe-filter);
        -moz-filter: var(--iframe-filter);
        -ms-filter: var(--iframe-filter);
        -o-filter: var(--iframe-filter);
        filter: var(--iframe-filter);
    }
    
    .w3l-contact-main .map-content-9 form input,
    .w3l-contact-main .map-content-9 form textarea {
        width: 100%;
        color: var(--font-color);
        background: var(--bg-color);
        font-size: 17px;
        font-weight: normal;
        font-style: normal;
        border: none;
        font-family: inherit;
        padding: 0px 16px;
        border: 1px solid var(--border-color);
        outline: none;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        height: 55px;
        display: inline-block;
        line-height: 52px;
        box-shadow: none;
    }
    
    .w3l-contact-main .map-content-9 h5 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 20px;
        color: #233142;
    }
    
    .w3l-contact-main .map-content-9 form textarea {
        resize: none;
        height: 130px;
        margin: 30px 0;
        font-family: 'Spartan', sans-serif;
    }
    
    .w3l-contact-main .map-content-9 form input:focus,
    .w3l-contact-main .map-content-9 form textarea:focus {
        outline: none;
        border: 1px solid var(--heading-color);
        background: none;
    }
    
    li.my-2 a img {
        display: inline-block;
        position: absolute;
        left: 40pt;
        height: 30pt;
    }
    
    .sideBar ul li ul>li>a {
        font-size: 16pt;
    }