.Content .detail table.textcenter tr>td {
    font-size: 24pt;
    font-weight: 500;
    color: #52525B !important;
    background: #FFF !important;
    padding: 20px;
    text-align: center;
}

.Content .detail table.textcenter tr>td:nth-child(2) {
    text-align: left;
}

.Content .detail table tr td span {
    font-size: 18pt;
    font-weight: 500;
    color: ＃52525b;
    text-align: center;
}

.Content .detail ul li a:hover {
    color: #ff7200;
}

.arrow {
    margin-left: -30px;
    padding: 0 0 0 30px;
    list-style: none;
    background-image: url("../../images/arrow.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 18pt;
}

.sideBar ul ul>li>a {
    font-size: 16pt;
}

.nowrap {
    white-space: nowrap;
}

.t43,
.t46 {
    width: 100%;
}

table.t43 tr td,
table.t46 tr td {
    border: 1px solid #e1e0e0;
    padding: 10px;
}

table.t43 tr td:nth-child(1),
table.t46 tr td:nth-child(1) {
    font-weight: 700;
    color: #32325d;
    background-color: #e1e0e0;
    white-space: nowrap;
    padding-right: 10px;
    text-align: center;
}

.table-discribe {
    border: 1px solid #e1e0e0;
    padding: 5px;
}

.Content .detail,
.detail-center {
    font-size: 18pt;
    font-weight: 500;
    color: #52525b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Content .titleOn,
.locate .title {
    font-size: 28pt;
    font-weight: bolder;
    color: #ff7200;
    border-bottom: 2px solid;
    width: 30%;
    display: table-cell;
    vertical-align: bottom;
    cursor: pointer;
}

.Content .titleOff,
.locate .title {
    font-size: 18pt;
    font-weight: 700;
    color: #808a9e;
    border-bottom: 2px solid;
    width: 30%;
    display: table-cell;
    vertical-align: bottom;
    cursor: pointer;
}

.Content .phone-titleOn,
.locate .title {
    font-size: 20pt;
    font-weight: bolder;
    color: #ff7200;
    border-bottom: 2px solid;
    width: 10%;
    display: table-cell;
    vertical-align: bottom;
    cursor: pointer;
}

.Content .phone-titleOff,
.locate .title {
    font-size: 12pt;
    font-weight: 700;
    color: #808a9e;
    border-bottom: 2px solid;
    width: 10%;
    display: table-cell;
    vertical-align: bottom;
    cursor: pointer;
}

.detail-box {
    color: #e1e0e0;
    border-bottom: 1px solid;
    width: 70%;
}

.phone-detail-box {
    width: 80%;
    text-align: justify;
    text-justify: inter-ideograph;
    margin-bottom: 60px;
}

.detail-box-bottom {
    color: #e1e0e0;
    width: 70%;
}

.detail-box-date {
    text-align: center;
    color: #41516f;
    height: 120px;
    width: 120px;
}

.phone-detail-box-date {
    color: #808a9e;
    font-size: 12pt;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10%;
}

.detail-box-up-arrow {
    float: right;
    margin-right: -30px;
    margin-top: -8px;
    transform: rotate(-90deg);
}

.phone-detail-box-split {
    width: 90%;
    border-top: 1px solid #e1e0e0;
}

.detail-box-d {
    text-align: center;
    font-size: 50pt;
    font-weight: bolder;
    height: 75px;
}

.detail-box-ym {
    text-align: center;
}

.detail-box-text a {
    color: #52525b !important;
    font-weight: bolder;
}

.phone-detail-box-text a {
    color: #52525b !important;
    font-weight: bolder;
}