.Content .detail .my-5{
    margin-top: 0 !important;
    margin-bottom: 16px !important;
}

.locate .Name {
    font-size: 24pt;
    font-weight: 700;
    color: #32325d;
}

.locate .detail {
    font-size: 14pt;
    font-weight: bold;
    color: #52525b;
}

.map iframe {
    border: none;
    width: 100%;
    min-height: 400px;
    display: block;
    -webkit-filter: var(--iframe-filter);
    -moz-filter: var(--iframe-filter);
    -ms-filter: var(--iframe-filter);
    -o-filter: var(--iframe-filter);
    filter: var(--iframe-filter);
}

.w3l-contact-main .map-content-9 form input,
.w3l-contact-main .map-content-9 form textarea {
    width: 100%;
    color: var(--font-color);
    background: var(--bg-color);
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    border: none;
    font-family: inherit;
    padding: 0px 16px;
    border: 1px solid var(--border-color);
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    height: 55px;
    display: inline-block;
    line-height: 52px;
    box-shadow: none;
}

.w3l-contact-main .map-content-9 h5 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #233142;
}

.w3l-contact-main .map-content-9 form textarea {
    resize: none;
    height: 130px;
    margin: 30px 0;
    font-family: 'Spartan', sans-serif;
}

.w3l-contact-main .map-content-9 form input:focus,
.w3l-contact-main .map-content-9 form textarea:focus {
    outline: none;
    border: 1px solid var(--heading-color);
    background: none;
}